# Introduction to Python I

Python is one the world's most popular programming languages. It is versatile and easy to learn.
Python is widely used in :
   1. Data Science
   2. Machine Learning/ Deep Learning
   3. Scientific Computing
   4. Web development

Python's creator, Guido van Rossum, name it after the BBC television show ‘Monty Python’s Flying Circus.’ and not the snake! And if you look at Python examples and code online, you will find a lot of references to the television show!
Let's start our Python journey by running a one line program:

In [9]:
print("Hello World!")

Hello World!

`print()` is a built-in function that prints whatever you put between the parentheses to the screen. In this case, it is printing the words/statement <mark>"Hello World!"</mark> to the screen.

Another example of a simple one-line operation:

In [10]:
2+2

4

### Jupyter Notebook commands
Execute a cell:   
`ctrl+enter`    
`shift+enter`  <- execute the cell and a create new box below

# Basic Data Types  
  
### Integers:    
Whole numbers like 1, 2, 3, 4 etc.   
### Strings:    
Text, words, statements that are enclosed withing quotation marks `""` or `''`.   
### Floating Point:  
Fractional or Decimal numbers like 2.3, 3.33, 4.56, 3.14159

#### Integers

In [11]:
2

2

#### Floating point or decimals/fractions

In [12]:
3.14159

3.14159

#### Strings

In [13]:
"a"

'a'

In [14]:
"Hello World!" #this is a string

'Hello World!'

 **Note:** Comments start with `#`

In [15]:
#this is a string

# Built-in Functions
   

**What is a Function??**  
A function is a set of instructions/ code that performs a task/specific action.   

Built-in functions are already defined and coded. You can access by "calling" them.

In [16]:
print("Good Morning Tigers!!") #built in function

Good Morning Tigers!!

In [17]:
type(2)
type(3.14159)
type("a")
type("sun and stars")

str

# Variables  
Containers for storing values!
## Assignment of Variables   
Storing a value in a variable

In [18]:
jar1 = "peppers"

In [19]:
print(jar1)

peppers

In [20]:
type(jar1)

str

In [21]:
jar1 = "sugar"

In [22]:
print(jar1) #printing values stored in variable "jar1"

sugar

In [23]:
jar2 = 2  #storing an integer

In [24]:
print(jar2)

2

In [25]:
type(jar2)

int

In [26]:
"jar3" # a string

'jar3'

#### Naming variables 
**Rules/guidelines:**  
 - No spaces  
 - No Special Characters @ , ! , %  
 - Do not name variables after a function name

In [27]:
jar_of_peppers = "peppers"

# Arithmetic Operations

In [28]:
#Built in Math Operations
4.5+3.5 #Addition
4.5-3.5 #Subtraction
4.5*3.5 #Multiplication
4.5/3.5 #Division

1.2857142857142858

In [29]:
a = 4.49
b = 2

In [30]:
a_add = a + b
a_sub = a - b
a_mul = a * b
a_div = a / b

In [31]:
a_add

6.49

In [32]:
#Additional Math Operations
a_quo = a // b #quotient
a_mod = a % b #modulo or remainder
a_pow = a ** b #power or exponent 2**3 = 8

In [33]:
a_quo

2.0

# Other advanced Built-in Object/Data Types

## Lists

In [34]:
test_list = [1,2,3,4]

In [35]:
test_list

[1, 2, 3, 4]

In [36]:
type(test_list)

list

In [37]:
test_list1 = [1, "Hello World", 3.14159, "a"]

In [38]:
test_list1

[1, 'Hello World', 3.14159, 'a']

In [39]:
a_list = [a_add, a_sub, a_mul, a_div]
a_list

[6.49, 2.49, 8.98, 2.245]

## Methods 
Subset of built-in functions

In [40]:
c = " wednesday is today "
#c = 2

In [41]:
print(c)
type(c)

 wednesday is today

str

Checking available Methods for strings:
type `c.` then hit <mark>"Tab"</mark> twice

In [ ]:
c.

In [4]:
#c.upper()  #Hit "Tab" twice
c.upper()

' WEDNESDAY IS TODAY '

Checking what a method does `c.upper?` and execute the code cell.

In [42]:
c.upper() #hit tab twice methods for given variable

' WEDNESDAY IS TODAY '

### Information on built-in classes and object types
type `help(str)`

In [43]:
#help(str)
#help(list)

In [44]:
a_list

[6.49, 2.49, 8.98, 2.245]

In [45]:
a_list.append(a_quo)

**Note:**  Running the `.append` cell twice, adds the same value twice to the list

In [46]:
a_list

[6.49, 2.49, 8.98, 2.245, 2.0]

In [47]:
#a_list.remove?
a_list.remove(2.0)
a_list

[6.49, 2.49, 8.98, 2.245]

In [48]:
a_list.append(a_mod)
a_list.append(a_pow)

In [49]:
len(a_list)

6

In [50]:
a_list

[6.49, 2.49, 8.98, 2.245, 0.4900000000000002, 20.160100000000003]

Indexing:  

0. Eggs  
1. Milk  
2. Toothpaste  
**NOTE: the index starts at 0**

In [51]:
a_list[0] #first value within the list

6.49

In [52]:
a_list[2] #3rd object.

8.98

In [53]:
a_list[-1]

20.160100000000003

When counting from the right, Index starts at <mark>-1</mark>

In [54]:
a_list[6]

IndexError: list index out of range

In [55]:
a_list[-7]

IndexError: list index out of range

In [56]:
#Slicing , extracting subsets of a list
a_list[0:4]

[6.49, 2.49, 8.98, 2.245]

In [57]:
a_list[3:]

[2.245, 0.4900000000000002, 20.160100000000003]

In [58]:
a_list[:3]

[6.49, 2.49, 8.98]

In [59]:
a_list[1:4]

[2.49, 8.98, 2.245]

In [60]:
a_add*2

12.98

In [61]:
a_list*2

[6.49,
 2.49,
 8.98,
 2.245,
 0.4900000000000002,
 20.160100000000003,
 6.49,
 2.49,
 8.98,
 2.245,
 0.4900000000000002,
 20.160100000000003]

# "For" loops

In [124]:
a_list

[6.49, 2.49, 8.98, 2.245, 2.0, 0.4900000000000002, 20.160100000000003]

In [136]:
new_list=[] ##empty list
print(new_list)
#Indentation 4 spaces
for obj in a_list:
    print(obj)
    new_list.append(2*obj)
    print(new_list)  #contained in for loop, indented
print(a_list) #not contained in for loop, not indented

6.49
[12.98]
2.49
[12.98, 4.98]
8.98
[12.98, 4.98, 17.96]
2.245
[12.98, 4.98, 17.96, 4.49]
2.0
[12.98, 4.98, 17.96, 4.49, 4.0]
0.4900000000000002
[12.98, 4.98, 17.96, 4.49, 4.0, 0.9800000000000004]
20.160100000000003
[12.98, 4.98, 17.96, 4.49, 4.0, 0.9800000000000004, 40.32020000000001]
[6.49, 2.49, 8.98, 2.245, 2.0, 0.4900000000000002, 20.160100000000003]

In [129]:
new_list

[12.98, 4.98, 17.96, 4.49, 4.0, 0.9800000000000004, 40.32020000000001]

In [118]:
obj

20.160100000000003

# Conditional statements

In [141]:
#comparison
x = 3 #Assignment operation
if x == 5:
    print("Value is equal to 5")
#else if
elif x < 5:
        print("Value is less than 5")
else:
    print("Value is greater than 5")

Value is less than 5

In [145]:
#Combine for loops and if else condition statements
num_list = [2,3,47,9,4,7,8,10,1,6,5]
y = 5

for num in num_list:
    if num == y:
        #f-strings
        print(f"{num} is equal to {y}")
    elif num < y:
        print(f"{num} is less than {y}")
    else:
        print(f"{num} is greater than {y}")

2 is less than 5
3 is less than 5
47 is greater than 5
9 is greater than 5
4 is less than 5
7 is greater than 5
8 is greater than 5
10 is greater than 5
1 is less than 5
6 is greater than 5
5 is equal to 5

List Comprehensions

In [146]:
#typical for loop
for num in a_list:
    print(num*2)

12.98
4.98
17.96
4.49
4.0
0.9800000000000004
40.32020000000001

In [147]:
#list comprehension
[print(num*2) for num in a_list]

12.98
4.98
17.96
4.49
4.0
0.9800000000000004
40.32020000000001

[None, None, None, None, None, None, None]

In [154]:
new_list1 = [num*3 for num in a_list]
new_list1

[19.47,
 7.470000000000001,
 26.94,
 6.735,
 6.0,
 1.4700000000000006,
 60.480300000000014]

In [155]:
new_list1 = [num*1.5 for num in new_list1]

In [156]:
new_list1

[29.205,
 11.205000000000002,
 40.410000000000004,
 10.102500000000001,
 9.0,
 2.205000000000001,
 90.72045000000003]