In [1]:
2+2

4

In [2]:
"Hello World!"

'Hello World!'

In [3]:
print("Hello World")

Hello World

In [4]:
type(4) #Type of Object

int

In [5]:
type("Hello")

str

In [6]:
type(3.14)

float

In [7]:
type(print)

builtin_function_or_method

In [13]:
print(3.14159*2)
print(type(3.23+2))
print(3.453*2.45)

6.28318
<class 'float'>
8.45985

In [18]:
print("Wow"*2) #Concatenation of Strings, works only with integers not float
print("Wow" + "Tigers!") #Concatenation 2

WowWow
WowTigers!

In [24]:
print('Tigers'+"2") #concatenation of 2 different 
#"strings"

Tigers2

In [32]:
#Assignment of Variables
a = 5
b = 2.394

In [33]:
#Math Operations
a_add = a + b #Addition
a_sub = a - b #Subtraction
a_mul = a * b #Multiplication
a_div = a / b #Division

In [34]:
a_add

7.394

In [37]:
#Additonal Math Operations
a_quo = a//b #Quotient
a_mod = a%b #Modulo
a_pow = a**b #Power / Exponent

In [54]:
a_quo

2.0

In [42]:
a_list = [a_add,a_sub,a_mul,a_div]
a_list

[7.394, 2.606, 11.97, 2.0885547201336676]

In [43]:
type(a_list)

list

In [46]:
type(a_div)

float

In [48]:
test_list = [1,3.15,"Cat", "Wow a Cat"]
type(test_list)

list

In [50]:
#Method
#Function specific to a particular object type
a_list.append?

In [55]:
a_list.append(a_quo)

In [56]:
a_list

[7.394, 2.606, 11.97, 2.0885547201336676, 2.0, 2.0]

In [58]:
#Exercise, find method to remove duplicate variable
#Add a_mod and a_pow to a_list
a_list.remove(2.0)

In [61]:
a_list.append(a_pow)

In [72]:
print(len(a_list))
print(a_list)

7
[7.394, 2.606, 11.97, 2.0885547201336676, 2.0, 0.21199999999999974, 47.133988376819865]

In [66]:
#Indexing and Slicing
#Index starts at 0
a_list[0]

7.394

In [80]:
a_list[0]*2

14.788

In [76]:
a_list[2:4]

[11.97, 2.0885547201336676]

In [77]:
a_list[0:5]

[7.394, 2.606, 11.97, 2.0885547201336676, 2.0]

In [78]:
a_list*2

[7.394,
 2.606,
 11.97,
 2.0885547201336676,
 2.0,
 0.21199999999999974,
 47.133988376819865,
 7.394,
 2.606,
 11.97,
 2.0885547201336676,
 2.0,
 0.21199999999999974,
 47.133988376819865]

In [82]:
#For Loops
#Iteration, iterating over a list
for obj in a_list:
    print(obj)
    print(obj*2)

7.394
14.788
2.606
5.212
11.97
23.94
2.0885547201336676
4.177109440267335
2.0
4.0
0.21199999999999974
0.4239999999999995
47.133988376819865
94.26797675363973

In [83]:
#List Comprehension
mulby2_list = [ 2*obj for obj in a_list]
mulby2_list

[14.788,
 5.212,
 23.94,
 4.177109440267335,
 4.0,
 0.4239999999999995,
 94.26797675363973]

In [84]:
#10 min - Back at 11:00 a.m.
#Optional Break Exercise
#Use list Comprehension and Methods to Captialize strings
#re-assign the Upper case letters back to the same list
string_list = ['a','e','i','o','u']

In [85]:
test_string = "clemson tigers"

In [88]:
test_string.upper()

'CLEMSON TIGERS'

In [89]:
string_list = [char.upper() for char in string_list]

In [90]:
string_list

['A', 'E', 'I', 'O', 'U']

In [91]:
[type(char) for char in string_list]

[str, str, str, str, str]

In [92]:
#Functions
type(print)

builtin_function_or_method

In [104]:
#Creating a custom function
def cheerup(name = "Brian"):
    #Prints a cheery message
    """Prints Always Look on the Bright Side of life"""
    print("Always look on the Bright side of life, " + str(name) +"!" )

In [99]:
cheerup("Brian")

Always look on the Bright side of life, Brian!

In [116]:
cheerup?

In [105]:
cheerup(1234)

Always look on the Bright side of life, 1234!

In [130]:
#Define a function that multiplies an argument (float or integer) by 3
#Don't worry about string arguments
def mulby3(num):
    """Multiplies argument by 3"""
    a = num*3
    return a

In [131]:
mulby3(4)

12

In [132]:
test_num = mulby3(4)

In [133]:
print(test_num)
test_num

12

12

In [134]:
mulby3_list = [ mulby3(obj) for obj in a_list]
mulby3_list

[22.182000000000002,
 7.818,
 35.910000000000004,
 6.265664160401003,
 6.0,
 0.6359999999999992,
 141.4019651304596]